<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%# Plausible Analytics %>
    <script defer data-domain="just a test" src="https://someurl.mydomain.com/js/script.file-downloads.outbound-links.pageview-props.revenue.tagged-events.js"></script>
    <script>
      window.plausible = window.plausible || function() {
        (window.plausible.q = window.plausible.q || []).push(arguments)
      }
    </script>
    <%= Sentry.get_trace_propagation_meta.html_safe if defined?(Sentry) %>
  </head>
  <body class="min-h-screen bg-base-200 flex flex-col">
    <%= render "layouts/navbar" unless current_page?(root_path) %>
    <main class="flex-1 flex flex-col">
      <%= render "shared/flash" %>
      <%= yield %>
      <%= render "shared/footer" %>
    </main>
    <%= render 'shared/structured_data' %>
  </body>
</html> 